<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add/Update Train</title>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/navbar.css}"/>
	<link rel="stylesheet" href="" th:href="@{/css/searchTrains.css}"/>
<link rel="stylesheet" href="" th:href="@{/css/addStation.css}"/>
</head>
<body class="main">
<div class="row">
<div class="col-lg-5">
	<div class="child"><img src="" th:src="@{/images/logo.png}" class="logo" alt=""/></div>
	</div>
	<div class="child col-lg-7 navv" id="nav">
		<div th:if="${User.role}=='user'"
			th:replace="fragments/navbar::navbar" class="nav-item"></div>
			</div>
			</div>
	<div class="container">
		<h2>Add/Update Train</h2>
		<hr />
		<form th:action="@{/saveTrain}" th:object="${train}" method="post">
			<label for="trainName">Train Name</label>
			<input name="trainName" type="text" th:field="*{name}" placeholder="Enter name" class="form-control col-4 mb-4"/>
			<label for="trainNumber">Train Number</label>
			<input name="trainNumber"type="number" th:field="*{number}" placeholder="Enter train number" class="form-control col-4 mb-4"/>
			<button type="submit" class="btn btn-primary">Save</button>	
			<input type="hidden" th:field="*{id}"/>
		</form>
		<hr/>
		<a th:href="@{/showTrains}" class="back">Back to list</a>
	</div>
</body>

</html>