<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/navbar.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/searchTrains.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/creditCard.css}" />
</head>
<body class="main">
<div class="row">
		<div class="col-lg-5">
			<div class="child"><img src="" th:src="@{/images/logo.png}" class="logo" alt="" /></div>
		</div>
		<div class="child col-lg-7 navv" id="nav">
			<div th:if="${#session.getAttribute('User')} != null">
				<div th:replace="fragments/navbar::navbar" class="nav-item"></div>
			</div>
			<div th:if="${#session.getAttribute('User')} == null">
				<div th:replace="fragments/guestUserNavbar::guestUserNavbar" class="nav-item"></div>
			</div>
		</div>
	<div class="container" id="rivets-credit-card-container">
		<h3 style="color: red;" th:text="${message}"></h3>
		<h4 style="color: purple" th:text="'Total Fare Amount: '+${card.fare}"></h4>
		<h2>Enter Card Details</h2>
		<div class="row py-5">
			<div class="col-md-6">
				<form th:action="@{/makePayment}" th:object="${card}" method="post">
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<label for="formExmName">Full Name</label> <input type="text"
									th:field="*{fullName}" class="form-control" id="formExmName"
									rv-value="creditCard.name">
							</div>
						</div>
						<div class="col-sm">
							<label for="formExmCardNo">Card Number</label> <input type="text"
								th:field="*{cardNumber}" class="form-control" id="formExmCardNo"
								rv-on-input="masks.creditCard" data-max-char="16">
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<label for="month">Month</label> <input type="text"
								th:field="*{month}" placeholder="MM" class="form-control"
								id="month" rv-on-input="masks.creditCard" data-max-char="16">
						</div>
						<div class="col-sm">
							<label for="year">Year</label> <input type="text"
								th:field="*{year}" class="form-control" placeholder="YYYY"
								id="year" rv-on-input="masks.creditCard" data-max-char="16">
						</div>

						<div class="col-sm">
							<label for="formExpCcv">CVV</label> <input type="text"
								class="form-control" id="formExpCcv" th:field="*{cvv}"
								placeholder="***" rv-on-focus="handlers.turnCard"
								rv-on-blur="handlers.turnCard" rv-on-input="masks.number"
								data-max-char="3">
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm">
							<button type="submit" class="btn btn-primary">Make
								Payment</button>
						</div>
					</div>
					<input type="hidden" th:field="*{ticketId}" />


				</form>
			</div>


		</div>
	</div>

</body>
</html>